body{
    font-family: 'Prompt', sans-serif;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

h2{
    margin-top: 4%;
    margin-left: 6%;
    padding: 2%;
    font-family: 'Prompt', sans-serif;
    font-weight: 800;
    font-size: 2.8rem;

}

#topBar{
    font-family: 'Prompt', sans-serif;
    margin-bottom: 0;
    padding: 2% 0 4%;
 /*   display: inline-grid;
    grid-template-columns: 65% 5%;*/
}

#catIcon{
    grid-column-start: 1;
}

#cat_icon{
    text-decoration: none;
    color: black;
}

#sortBar{
    width: 70%;
    margin-left: 3%;
}



#sortByButton{
    font-weight: 700;
    font-size: 1.1rem;
}

#feed{
    font-family: 'Prompt', sans-serif;
}

#feed{
    width: 100%;
    display: inline-grid;
    grid-template-columns: 75% 5% 25%;
    margin-top: 0;
    margin-left: 3%;
    margin-right: 1%;
    margin-bottom: 5%;
}

#results{
    grid-column-start: 1;
    padding: 5%;
    margin: 10%;
}

.result{
    border-bottom: 0.3em solid black;
    padding: 2% 2% 1%;
}

.resultHeader{
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

#question{
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

#question:hover{
    color: #FFCD34;
}


.footerResult{
    margin-left: 1%;
    margin-top: 2%;
}

.resultFooter{
    margin: 0 1%;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
}

.profilePic{
    padding: 1%;
}

#leaderBoard{
    grid-column-start: 3;
    height: 300px;
    margin-right: 0;
    border: 0.4em solid black;
    background-color: #FFFDF8;
}

.card-title{
    text-align: center;
    font-weight: 700;
    font-size: 1.7rem;
    margin-bottom: 2%;
    text-decoration: underline;
    text-decoration-color:#FFCD34;
}

.leader{
    padding: 2% 0;
    border-bottom: 0.1em solid #FFCD34;
}

.leaderInfo{
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin:0; 
    
}

#points{
    margin-left: 6%;
    margin-bottom: 0;
    padding-top: 1.5%;
}

.leaderResult{
    margin: 5% 0;
}