body{
    font-family: 'Prompt', sans-serif;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }


#topBar{
    font-family: 'Prompt', sans-serif;
    margin-bottom: 4%;
    margin-top: 2%;
    padding: 2% 0 4%;
    align-items: center;
    height: 10rem;
 /*   display: inline-grid;
    grid-template-columns: 65% 5%;*/
}


#catIcon{
    grid-column-start: 1;
}

#cat_icon{
    text-decoration: none;
    color: black;
}

#sortBar{
    width: 65%;
    margin-left: 0.1%;
}



#sortByButton{
    font-weight: 700;
    font-size: 1.1rem;
}

#feed{
    font-family: 'Prompt', sans-serif;
}

.icon{
    width: 70%;
}

.icon:hover{
    width: 100%;
}

#results{
    grid-column-start: 1;
    padding: 5%;
    margin: 10%;
}

.result{
    border-bottom: 0.3em solid black;
    padding: 2% 2% 1%;
}

.result:first-of-type{
    border-top: 0.3em solid black;
}

.resultHeader{
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}


.footerResult{
    margin-left: 1%;
    margin-top: 2%;
}

.resultFooter{
    margin: 0 1%;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
}

.profilePic{
    padding: 1%;
}

#leaderBoard{
    grid-column-start: 3;
    margin-right: 0;
    border: 4px solid black;
    background-color: #FFFDF8;
    border-radius: 0.25rem;
}

.card-title{
    text-align: center;
    font-weight: 700;
    font-size: 1.7rem;
    margin-bottom: 2%;
    text-decoration: underline;
    text-decoration-color:#FFCD34;
}

.leader{
    padding: 2% 0;
    border-bottom: 0.1em solid #FFCD34;
    font-weight: 500;
}

.leaderInfo{
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    margin:0; 
    
}

.points{
    margin-left: 6%;
    margin-bottom: 0;
    padding-top: 1.5%;
}

.leaderResult{
    margin: 5% 0;
}

.icon#active{
    border: 3px solid black;
    width: 100%;

}

#loadMore{
    width: 9em;
    margin-top: 4%; 
    margin-bottom: 4%;
    background-color: #FFFDF8;
    border-radius: 0.25rem;
    font-weight: 800;
}

#loadMore:hover{
    color: #FFCD34;
}


@media screen and (max-width: 992px) 
{
    #leaderBoard
    {
        display: none;
    }

    #sortBar{
        width: 100%;
        margin-left: 0.1%;
    }
}