body
{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    --footer-color: rgb(220, 224, 232,0.4)

}

  /* style the container */
  div#form.container {
    position: relative;
    border-radius: 5px;
    max-width: 800px;
    background-color:#f2f2f2;
    margin-bottom: 80px;
    margin-top: 20px;
  } 
  

  
  input:hover,
  .btn:hover {
    opacity: 1;
  }
  
  /* add appropriate colors to fb and google buttons */
  a.fb {
    background-color: #3B5998;
    color: white;
    margin-bottom: 10px;
    width: 100%;
  
  }
  
  div#socialBtn.col{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 3px solid black;
  }
  
  a.google {
    background-color: #dd4b39;
    color: white;
    width:100%;
   
   
  }
  div#form.input-container{
    width:100%;
  }
  div.input-container{
    padding-bottom: 10px;
  }

  input#form{
    width: 100%;
    border:0px;
    border-radius: 0.25rem;
  }
  
  /* style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Two-column layout */
  .col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* vertical line 
  #login.vl,  #register.vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 100%;
  }*/



  
  /* hide some text on medium and large screens */
  .hide-md-lg {
    display: none;
  }
  
  /* bottom container */
  .bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px;
    padding: 0px 0px 0px 0px;
  }
  
  /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 650px) {
    .col {
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    /* hide the vertical line */
    .vl {
      display: none;
    }
    /* show the hidden text on small screens */
    .hide-md-lg {
      display: block;
      text-align: center;
    }
    div#form.container {
      max-width: 330px;
      margin-bottom:90px;
    }

    footer{
      line-height: 1;
      max-height: 30px;
    }


  }

.logInText{
    text-decoration: none;
    font-size: 13px;
    margin: 6px 0px 0px 0px;
    display:block;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 5px;
  }

  .icon {
    margin: 0px 5px 0px 0px;
    padding: 20px;
    background: #343a40;
    color: white;
    min-width: 50px;
    max-width: 50px;
    text-align: center;
    border:0px;
    border-radius: 0.25rem;
  }
  form{
     margin: 10px 10px 10px 10px;
  }

  div.custom-control{
    margin: 0px 0px 15px 0px;
    font-size: 13px;
  }
  input#customCheck1{
    width: 5%;
  }

  
.platform-info {
  background-color: var(--footer-color);
  box-shadow: 0 50vh 0 50vh var(--footer-color);
  font-size: 13px;
  font-weight: bold; 
  max-height: 20px;
  text-align: center;

}

#platform-link-info
{
  bottom: 15px;
  width: 100%;
}

#platform-link-info a
{
  text-decoration: none;
  color: black;

}

nav.navbar{
  background-color: rgb(245, 238, 238,0.1);
}
ul.navbar-nav {
 
  display: -ms-flexbox;
  display: flex;
  float: right;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
li.nav-item{
  margin-right: 15px;
}

ul#admin.sidebar.navbar-nav{
  margin: 10px 10px 10px 35px;
}

div#wrapper{
  margin: 5px 90px 5px 90px;
}

/** followers*/

.box{
  padding:60px 0px;
}

div.col-lg-4.col-md-4.col-sm-4.col-xs-12{
  margin: 20px 0px 20px 0px;

}

#formBorder{
  border: 3px solid black;
  background-color:  #FFFDF8;
}


