body
{
    background-color: rgb(236, 238, 253);
}

#search-container
{
    margin: 0;
    padding:0;
    display: grid;
    grid-template-columns: 97% 3%
    
}

#search-bar-div
{
    padding: 0;
}

#search-bar
{
    border-style: none;
    outline: none;
    width: 98%;
}

#search-icon-div
{
    text-align: center;
    padding-right: 0;
    align-items: stretch;
}

#a-search-icon
{
    text-decoration: none;
    color: default;

}

.btn
{
    background-color: blue;
}